*,
*:before,
*:after {
  box-sizing: border-box;
}

.button {
  display: inline-block;
  min-width: 50px;
  text-decoration: none;
  line-height: 22px;
  color: #f7941e;
  text-transform: uppercase;
  border: 1px solid #f7941e;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s;
  padding: 13px 25px;
}

.button:hover {
  background-color: #F7941E;
  color: white;
}

body {
  font-family: 'Gilroy';
  font-size: 18px;
  font-weight: 400;
}

.header {
  width: 100%;
  min-height: 116px;
  background: #fafafa;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 0 25px 0 80px;
}

.header__logo {
  display: inline-block;
  width: 41px;
  height: 39px;
}

.nav {
  max-width: 331px;
  width: 100%;
}

.nav__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}

.nav__link {
  line-height: 22px;
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .burger__line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .burger__line2 {
  opacity: 0;
}

.toggle .burger__line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.section-promo {
  width: 100%;
  padding-top: 116px;
  background: #f1f1f2;
}

.promo-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.promo-top__image {
  display: block;
  width: 50%;
  height: auto;
}

.promo-top-info {
  max-width: 441px;
}

.promo-top-info__title {
  font-size: 56px;
  line-height: 69px;
  color: black;
}

.promo-top-info__text {
  font-size: 20px;
  line-height: 28px;
  margin-top: 36px;
}

.promo__promo-top-info {
  margin-right: 112px;
}

.promo-info__button {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #F7941E;
  text-decoration: none;
  padding: 24px 24px 15px 24px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #F7941E;
  margin-top: 52px;
  transition: 0.6s;
  cursor: pointer;
}

.promo-info__button:hover {
  background: #F7941E;
  color: white;
}

.promo-bottom {
  display: flex;
  align-items: center;
}

.promo-bottom__image {
  display: block;
  width: 50%;
  height: auto;
}

.promo-bottom-info {
  max-width: 441px;
}

.promo-bottom-info__title {
  font-size: 32px;
  line-height: 45px;
  color: black;
}

.promo-bottom-info__text {
  font-size: 20px;
  line-height: 28px;
  margin-top: 23px;
}

.promo__promo-bottom-info {
  margin-left: 112px;
}

.section-varianty {
  width: 100%;
  background: white;
}

.section-varianty__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 96px 15px 137px 15px;
}

.section-varianty__title {
  margin: 0;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  font-weight: 400;
  padding: 0 15px;
}

.section-varianty__subtitle {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
  padding: 0 15px;
}

.varianty__list {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.varianty-theme {
  background: #fafafa;
  transition: 0.3s;
  padding-bottom: 24px;
}

.varianty-theme:hover {
  background: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  transform: translate(0, -15px);
}

.varianty-theme:hover a {
  text-decoration: underline;
}

.varianty-theme__link {
  display: block;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
  padding: 0 24px;
  margin-top: 74px;
}

.varianty-theme__title {
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  font-weight: normal;
  padding: 0 24px;
}

.varianty-theme__image {
  display: block;
  width: 100%;
  height: auto;
}

.section-varianty__varianty-theme {
  margin: 0 5px;
}

.section-ready {
  width: 100%;
  background: #F7941E;
}

.section-ready__inner {
  max-width: 970px;
  margin: 0 auto;
  padding: 81px 15px 61px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-ready__title {
  font-size: 32px;
  line-height: 45px;
  font-weight: bold;
  color: #000000;
}

.section-ready__subtitle {
  font-size: 32px;
  line-height: 45px;
  color: #000000;
}

.section-ready__buttons {
  display: flex;
}

.section-ready__button:not(:last-child) {
  margin-right: 16px;
}

.button--black {
  color: black;
  border: 1px solid black;
  background: none;
}

.button--black:hover {
  background: black;
  color: white;
}

.section-blog {
  width: 100%;
  background: white;
}

.section-blog__inner {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 80px;
  background: white;
  padding-top: 88px;
}

.section-blog__title {
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  font-weight: 400;
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.section-blog__subtitle {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 24px;
  padding-right: 10px;
  padding-left: 10px;
}

.blog {
  width: 100%;
}

.blog__blog-top {
  margin-top: 83px;
}

.blog__blog-boxes {
  margin-top: 30px;
}

.blog-top {
  display: flex;
  justify-content: flex-start;
  background: #231F20;
  grid-area: t;
}

.blog-top__info {
  margin-left: 78px;
  margin-top: 63px;
  max-width: 492px;
}

.blog-top__image {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin-right: auto;
}

.blog-top__author {
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
}

.blog-top__title {
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  font-weight: normal;
}

.blog-top__link {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

.blog-top__link:hover {
  text-decoration: underline;
}

.blog-boxes {
  display: flex;
  justify-content: space-between;
}

.blog-box {
  max-width: 570px;
  transition: 0.2s;
  padding: 48px;
}

.blog-box__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

.blog-box__text {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-top: 16px;
}

.blog-box__link {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  margin-top: 24px;
}

.blog-box:hover {
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.05);
}

.blog-box:hover a {
  text-decoration: underline;
}

.footer {
  width: 100%;
  background: #fafafa;
  padding: 106px 15px 35px 15px;
}

.footer__nav {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding-bottom: 43px;
}

.footer__nav-list {
  width: 614px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.footer__nav-link {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__nav-logo {
  display: block;
}

.social {
  display: flex;
  justify-content: space-between;
  max-width: 296px;
}

.social__image {
  transition: 0.3s;
  fill: black;
}

.social__image:hover {
  fill: #F7941E;
  transform: scale(1.5);
}

.footer__social {
  margin: 55px auto 0 auto;
  position: relative;
}

.copyright {
  max-width: 209px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.copyright__year {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.copyright__privacy {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.footer__copyright {
  margin: 72px auto 0 auto;
}

